<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to our SaaS Service</title>
  </head>
  <body>
    <h1>Hello <%= username %>,</h1>
    <p>Welcome to our demo service. Your signup date is: <%= signupDate %></p>
  </body>
</html>
